@import '~pui-css-variables-and-mixins/pui-variables';
@import '_layout';

.datatable {
  > tbody + tbody {
    border-top: none;
  }

  tbody tr {
    &, &:last-child {
      border-bottom: none;
    }
  }

  tbody tr {
    border-top: 1px solid $neutral-7;
  }

  td, th {
    width: 33%;
    text-align: center;
  }
  .subrow, .expanded {
    &, &:hover {
      background: $neutral-11;
    }
  }

  .table-wrapper {
    border-top: none;
    > td {
      padding: 0;
      overflow: hidden;
    }
  }

  .subtable {
    width: 100%;
  }
}

