@import '~pui-css-variables-and-mixins/pui-variables';
@import '_layout';

.datatable {
  td, th {
    width: 33%;
    text-align: center;
  }

  tbody tr:last-child {
    border-bottom: none;
  }

  .subrow, .expanded {
    &, &:hover {
      background: $neutral-11;
    }
  }

  .subrow {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

